# React
node_modules/
build/
dist/
.env
.npmrc
.yarn-cache/
.yarn-error.log
.eslintcache
.vscode/
.DS_Store

# Django
__pycache__/
db.sqlite3
*.pyc
*.pyo
*.pyd
.env
*.log
instance/
media/
staticfiles/
*.sqlite3
venv/

# General IDE/editor files
.idea/
*.swp
*.swo
*.swn
