@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
 
  background-color: rgb(68, 99, 169);
  min-height: 100vh;
  color: white;
  padding: 20px;

}


.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

